.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 0px;
}
.header img{
    height: 60px;
}

.header-img{
    display: none;
}

.header-text{
    display: block;
}

.logo{
    height: 60px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: var(--main-color);
}

nav a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 500px ){
    .header{
        margin-left: 0px;
        width: 100vw;
        position: fixed;
        height: 100px;
        bottom: 0px;
        top: auto;
        z-index: 500;
        background-color: var(--main-bg-color);
    }

    nav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .header-text{
        display: none;
    }

    .header-img{
        display: block;
    }

    .logo{
        display: none;
    }

}