{% extends 'base.html.twig' %}

{% block title %}Ajout d'une figure{% endblock %}

{% block body %}
<div class="trick-form-content">
    <h1>Ajout d'une figure</h1>
    
    {% include "_forms/_add_form.html.twig" %}
</div>
{% endblock %}